html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}
/* ========================== */
.ant-btn + .ant-btn {
  margin-left: 10px;
}
.ant-btn-group + .ant-btn-group {
  margin-left: 10px;
}
/* ============================= */
/*  */
.search-bar {
  margin-bottom: 15px;
}
.search-bar .search-bar-action {
  text-align: center;
}
.tool-bar {
  margin-bottom: 15px;
}
